<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">
  
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <u>My Todos</u>
              </p>
  
              <div class="pb-2">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row align-items-center">
                      <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                        placeholder="Add new task">

                        <input type="date" class="me-3">
                      <div>
                        <button type="button" class="btn btn-primary" (click)="addTask()">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-left">
                <button class="btn btn-outline-primary" [ngClass]="{'btn-outline-primary': selectedView != 'tab', 'btn-primary': selectedView == 'tab'}"  (click)="selectedView = 'tab'" style="margin-right:1rem; margin-top: 1em;">Tab View</button>
                <button class="btn btn-outline-primary" [ngClass]="{'btn-outline-primary': selectedView != 'filter', 'btn-primary': selectedView == 'filter'}" (click)="selectedView = 'filter'" style="margin-top:1rem;">Filter View</button>
              </div>
              
              
              <hr class="my-4">

              <app-tab-view *ngIf="selectedView == 'tab'" [tasks]="taskArr"></app-tab-view>
              <app-filter-view *ngIf="selectedView == 'filter'" [tasks]="taskArr"></app-filter-view>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
